.footer {
    padding : 4rem 4rem;
    background: blue;
    color : white;
}

.top {
    justify-content: space-between;
    flex-wrap : wrap;
}

.top .show {
    text-decoration: none;
    background : white;
    padding : .8rem .8rem;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color : black;
}

@media screen and (max-width : 850px) {
    .footer {
        padding : 2rem 2rem;
    }
    .top .show {
        text-decoration: none;
        background : white;
        padding : .2rem .2rem;
        border-radius: 2px;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 2px;
        color : black;
    }
}